@model IEnumerable<Butchers.Data.BEANS.ProductItemBEAN>

<div class="row">
    <div class="col-md-11">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-1">
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("AddProductItem", "ProductAdmin")'"><i class="fas fa-plus"></i></button>
        }
    </div>
</div>
<hr />

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding: 0px;">
                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("ProductItems", "Product")'">All</button>
            </div>
            <div class="col-md-4" style="padding: 0px;">
                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("ActiveProductItems", "Product")'">Active</button>
            </div>
            <div class="col-md-4" style="padding: 0px;">
                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("DiscontinuedProductItems", "Product")'">Discontinued</button>
            </div>
        </div>
    </div>
<hr />
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="padding: 0px;">
                        <img src="https://placeimg.com/640/300/animals/grayscale" style="width: 100%;">
                    </div>
                </div>
                <div class="row">
                    <h3>@Html.DisplayFor(modelItem => item.Product)</h3>
                </div>
                <div class="row">
                    <p>£@Html.DisplayFor(modelItem => item.Cost) per @Html.DisplayFor(modelItem => item.MeasurementName)</p>
                </div>
                <div class="row">
                    <p><strong>Quantity Available: </strong>@Html.DisplayFor(modelItem => item.StockQty)</p>
                </div>
                <div class="row">
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <div class="col-md-6" style="padding: 0px;">
                            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("EditProductItem", new { id = item.ProductItemId, product = item.ProductId, measurement = item.MeasurementId, Controller = "ProductAdmin" })'"><i class="fas fa-edit"></i></button>
                        </div>
                        <div class="col-md-6" style="padding: 0px;">
                            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("DeleteProductItem", new { id = item.ProductItemId, Controller = "ProductAdmin" })'"><i class="fas fa-trash-alt"></i></button>
                        </div>

                        // Checks to see whether productitem is discontinued
                        if (item.Discontinued == false)
                        {
                            <div class="col-md-12" style="padding: 0px;">
                                @* This needs configuring to work *@
                                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("DisableProductItem", new { id = item.ProductItemId, Controller = "ProductAdmin" })'">Disable</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12" style="padding: 0px;">
                                @* This needs configuring to work *@
                                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("EnableProductItem", new { id = item.ProductItemId, Controller = "ProductAdmin" })'">Enable</button>
                            </div>
                        }
                    }
                    else
                    {
                        if (User.IsInRole("Customer"))
                        {
                            <div class="col-md-12" style="padding: 0px;">

                                @using (Html.BeginForm("AddProductToCart", "OrderAdmin", FormMethod.Get))
                                {
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10" style="padding: 0px;">
                                                @Html.DropDownList("quantity", new SelectList(Enumerable.Range(0, 11)), new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-2" style="padding: 0px;">
                                                <button type="submit" class="btn btn-info" style="width: 100%;"><i class="fas fa-cart-plus"></i></button>
                                            </div>

                                            <input type="hidden" name="productItemId" id="productItemId" value="@item.ProductItemId" />
                                            <input type="hidden" name="cost" id="cost" value="@item.Cost" />

                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
                <hr />
                <br />
            </div>

        </div>
    }

</div>

