@model IEnumerable<Butchers.Data.BEANS.MeatBEAN>

@{
    ViewBag.Title = "Meats";
}

<div class="row">
    <div class="col-md-10">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-2">
        <button class="btn btn-info btn-header" data-toggle="collapse" onclick="location.href='@Url.Action("AddMeat", "ProductAdmin")'"><i class="fas fa-plus"></i></button>
    </div>
</div>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="row">
                    <div class="col-md-12">
                        @* Placeholder to be updated once centralised storage is implemented *@
                        <img src="https://images.pexels.com/photos/65175/pexels-photo-65175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width: 100%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center;">@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0px;">
                            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("EditMeat", new { id = item.MeatId, Controller = "ProductAdmin" })'"><i class="fas fa-edit"></i></button>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6" style="padding: 0px;">
                            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("DeleteMeat", new { id = item.MeatId, Controller = "ProductAdmin" })'"><i class="fas fa-trash-alt"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
