@model IEnumerable<Butchers.Data.Meat>

@{
    ViewBag.Title = "Meats";
}

<h2>Meats</h2>

<p>
    @Html.ActionLink("Add New", "AddMeat", "ProductAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMeat", new { id = item.Id, Controller = "ProductAdmin"}) |
            @Html.ActionLink("Delete", "DeleteMeat", new { id=item.Id, Controller = "ProductAdmin" })
        </td>
    </tr>
}

</table>
