@model IEnumerable<Butchers.Data.BEANS.ProductItemBEAN>

@{
    ViewBag.Title = "ProductItems";
}

<div class="row">
    <div class="col-md-11">
        <h2>Product Items</h2>
    </div>
    <div class="col-md-1">
        <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("AddProductItem", "ProductAdmin")'"><i class="fas fa-plus"></i></button>
    </div>
</div>
<hr />

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="container">
                    <div class="row">
                        <h3>@Html.DisplayFor(modelItem => item.Product)</h3>
                    </div>
                    <div class="row">
                        <p>£@Html.DisplayFor(modelItem => item.Cost) per @Html.DisplayFor(modelItem => item.MeasurementName)</p>
                    </div>
                    <div class="row">
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <div class="col-md-6" style="padding: 0px;">
                                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("EditProductItem", new { id = item.ProductItemId, product = item.ProductId, measurement = item.MeasurementId, Controller = "ProductAdmin" })'"><i class="fas fa-edit"></i></button>
                            </div>
                            <div class="col-md-6" style="padding: 0px;">
                                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("DeleteProductItem", new { id = item.ProductItemId, Controller = "ProductAdmin" })'"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        }
                        <div class="col-md-12" style="padding: 0px;">
                            <img src="https://placeimg.com/640/300/animals/grayscale" style="width: 100%;">
                        </div>

                        @* This isn't working with Customer for some reason *@
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="col-md-12" style="padding: 0px;">
                                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("AddProductToCart", new { productItemId = item.ProductItemId, cost = item.Cost, Controller = "OrderAdmin" })'"><i class="fas fa-cart-plus"></i></button>
                            </div>
                        }

                    </div>
                <br />
            </div>
        </div>
    }

</div>
