@model IEnumerable<Butchers.Data.BEANS.ProductItemBEAN>

@{
    ViewBag.Title = "ProductItems";
}

<h2>Product Items</h2>

<p>
    @Html.ActionLink("Create New", "AddProductItem", "ProductAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProductItem", new { id=item.Id, Controller = "ProductAdmin" }) |
            @Html.ActionLink("Delete", "DeleteProductItem", new { id=item.Id, Controller = "ProductAdmin" })
        </td>
    </tr>
}

</table>
