@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome back to Meat Management</h1>
        <p class="lead">Take a look around and don't hesitate to <a href="http://twitter.com/themancheetah">contact us</a> if you have any questions!</p>
        <hr class="my-4">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @if (User.IsInRole("Staff") || User.IsInRole("Manager"))
        {
            using (Html.BeginForm("AddMessage", "CompanyAdmin", FormMethod.Get))
            {
                <div class="card mb-3" style="width: 100%;">
                    <div class="card-header text-white bg-info ">Message</div>
                    <div class="card-body">
                            <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Post a Message</h2>
                                        <hr />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Subject</label>
                                        @Html.TextBox("subject", null, new { @class = "form-control", placeholder = "Enter a Subject" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Message</label>
                                        @Html.TextArea("body", null, new { @class = "form-control", placeholder = "Enter a Message" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-info" style="width: 100%;"><i class="fas fa-plus"></i>&nbsp;&nbsp; Post Message</button>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <br />
            }
        }
        else if (User.IsInRole("Admin"))
        {
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header text-white bg-info ">Product Statistics</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">@ViewBag.CountMeats</div>
                        <div class="col-md-10">Total No. of Meats</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">@ViewBag.CountProducts</div>
                        <div class="col-md-10">Total No. of Products</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">@ViewBag.CountProductItems</div>
                        <div class="col-md-10">Total No. of Product Items</div>
                    </div>
                </div>
            </div>
        }
        else if (User.IsInRole("Customer"))
        {
            <div class="card mb-3" style="width: 100%;">
                <div class="card-header text-white bg-info ">Messages</div>
                <div class="card-body">
                    @{
                        Html.RenderAction("_Message", "Company");
                    }
                </div>
            </div>
        }
        else
        {

        }
    </div>
    <div class="col-md-6">
            @if (User.IsInRole("Staff") || User.IsInRole("Manager"))
            {
                <div class="card mb-3" style="width: 100%;">
                    <div class="card-header text-white bg-info ">Stock Alert</div>
                    <div class="card-body">
                        @{
                            Html.RenderAction("_LowStock", "Product");
                        }
                    </div>
                </div>
            }
            else if (User.IsInRole("Admin"))
            {
                <div class="card mb-3" style="width: 100%;">
                    <div class="card-header text-white bg-info ">Order Statistics</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">@ViewBag.CountPromoCodes</div>
                            <div class="col-md-10">Total No. of Promo Codes</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">@ViewBag.CountCarts</div>
                            <div class="col-md-10">Total No. of Carts</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">@ViewBag.CountOrders</div>
                            <div class="col-md-10">Total No. of Reservations</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">@ViewBag.countOrderscollected</div>
                            <div class="col-md-10">Total No. of Reservations (Collected)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">@ViewBag.countOrdersCancelled</div>
                            <div class="col-md-10">Total No. of Reservations (Cancelled)</div>
                        </div>
                    </div>
                </div>
            }
            else if (User.IsInRole("Customer"))
            {
                <div class="card mb-3" style="width: 100%;">
                    <div class="card-header text-white bg-info ">What's Hot!</div>
                    <div class="card-body">
                        @{
                            Html.RenderAction("_TopStock", "Product");
                        }
                    </div>
                </div>
            }
            else
            {

            }
    </div>
</div>

