
@{
    ViewBag.Title = "Create Role";
}

<h2>Create Role</h2>

@Html.ActionLink("Add User", "Register", new { controller = "Account" })  |
@Html.ActionLink("Users", "GetUsers", "Admin")  |
@Html.ActionLink("Add Role", "CreateRole", "Admin")  |
@Html.ActionLink("User Roles", "GetRoles", "Admin")  |
@Html.ActionLink("Find User Roles", "GetRolesForUser", "Admin")  |
@Html.ActionLink("Manage User Roles", "ManageUserRoles", "Admin")
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <div>Role Name</div>
        <p> @Html.TextBox("RoleName", null, new { @class = "form-control", maxlength = 40  })</p>

        <input type="submit" value="Save" class="btn btn-info" />
        </div>
        }
