
@{
    ViewBag.Title = "GetUsers";
}

<h2>Get Users</h2>

@Html.ActionLink("Add User", "Register", new { controller = "Account" })  |
@Html.ActionLink("Users", "GetUsers", "Admin")  |
@Html.ActionLink("Add Role", "CreateRole", "Admin")  |
@Html.ActionLink("User Roles", "GetRoles", "Admin")  |
@Html.ActionLink("Find User Roles", "GetRolesForUser", "Admin")  |
@Html.ActionLink("Manage User Roles", "ManageUserRoles", "Admin")
<br /><br />
<div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>
                    Username
                </th>
            </tr>

            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
