@model Butchers.Data.BEANS.ProductBEAN

@{
    ViewBag.Title = "Edit " + Model.Name;
}

<div class="row">
    <div class="col-md-11">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-1">
        <button class="btn btn-info" style="width: 100%;" onclick="javascript:history.back()"><i class="fas fa-chevron-left"></i></button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProductId)

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.MeatId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.MeatId, (List<SelectListItem>)ViewBag.meatList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MeatId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Save" class="btn btn-info" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-2">

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
