<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet">
    @*<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>*@

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#"><h1><i class="fab fa-grunt"></i></h1></a>
            <a class="navbar-brand" href="#">Meat Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="@Url.Action("Index", "Home")" style="color: white; padding-right: 15px;"><i class="fas fa-home" style="padding-right: 0.5em;"></i>Home</a>
                    </li>

                    @* Admin should be able to access all pages here *@
                    @if (User.IsInRole("Admin"))
                    {
                        @* This is all relating to the business products/order related *@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Business Management <span class="caret"></span></a>
                            <ul class="dropdown-menu nav-submenu">
                                <li>@Html.ActionLink("Meats", "Meats", "Product")</li>
                                <li>@Html.ActionLink("Products", "Products", "Product")</li>
                                <li>@Html.ActionLink("Promo Codes", "PromoCode", "Order")</li>
                            </ul>
                        </li>

                        @* This is all account management related *@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Management <span class="caret"></span></a>
                            <ul class="dropdown-menu nav-submenu">
                                <li>@Html.ActionLink("Users", "GetUsers", "Admin")</li>
                                <li>@Html.ActionLink("Create Role", "CreateRole", "Admin")</li>
                                <li>@Html.ActionLink("Roles", "GetRoles", "Admin")</li>
                                <li>@Html.ActionLink("User Roles", "GetRolesForUser", "Admin")</li>
                                <li>@Html.ActionLink("Manage Roles", "ManageUserRoles", "Admin")</li>
                            </ul>
                        </li>
                    }

                    @* These are specific to customers *@
                    @if (User.IsInRole("Manager") || User.IsInRole("Staff"))
                    {
                    <a href="@Url.Action("ProductItems", "Product")" style="color: white; padding-right: 15px;"><i class="fas fa-list-ul" style="padding-right: 0.5em;"></i>Products</a>
                    <a href="@Url.Action("PromoCode", "Order")" style="color: white; padding-right: 15px;"><i class="fas fa-tag" style="padding-right: 0.5em;"></i>Promo Codes</a>
                    <a href="@Url.Action("Orders", "Order")" style="color: white; padding-right: 15px;"><i class="fas fa-shipping-fast" style="padding-right: 0.5em;"></i>Reservations</a>
                    }

                    @* These are specific to customers *@
                    @if ((!User.IsInRole("Staff") && !User.IsInRole("Manager") && !User.IsInRole("Admin")) && User.IsInRole("Customer"))
                    {
                    <a href="@Url.Action("ActiveProductItems", "Product")" style="color: white; padding-right: 15px;"><i class="fas fa-list-ul" style="padding-right: 0.5em;"></i>Products</a>
                    <a href="@Url.Action("ViewCart", "Order")" style="color: white; padding-right: 15px;"><i class="fas fa-shopping-cart" style="padding-right: 0.5em;"></i>Cart</a>
                    <a href="@Url.Action("CustomerOrders", "Order")" style="color: white; padding-right: 15px;"><i class="fas fa-shipping-fast" style="padding-right: 0.5em;"></i>Reservations</a>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
</div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align: center;">Sheffield Hallam University (2017/18) - MSc Computing: SDDP Assignment</p>
            <p style="text-align: center;">&copy; BMS (Butcher Management System) @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>