@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("ChangePassword", "Manage")" style="color: white; padding-right: 15px;"><i class="fas fa-user" style="padding-right: 0.5em;"></i>@User.Identity.GetUserName()</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt" style="padding-right: 0.5em;"></i>Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <a href="@Url.Action("Register", "Account")" style="color: white; padding-right: 15px;"><i class="fas fa-user-plus" style="padding-right: 0.5em;"></i>Register</a>
        <a href="@Url.Action("Login", "Account")" style="color: white; padding-right: 15px;"><i class="fas fa-sign-in-alt" style="padding-right: 0.5em;"></i>Login</a>
    </ul>
}
