@model Butchers.Data.BEANS.CartItemBEAN

@{
    ViewBag.Title = Model.ProductItem;
}

<br />
<div>
    <div class="card border-secondary mb-3" style="width: 100%;">
        <div class="card-header bg-danger" style="color: white; font-weight: bold;">Are you sure you want to remove this item from your cart?</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.ProductItem)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.ProductItem)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.Quantity)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Quantity)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.ItemCostSubtotal)</strong>
                </div>
                <div class="col-md-9">
                    £@Html.DisplayFor(model => model.ItemCostSubtotal)
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <div class="form-actions no-color">
                            <button type="submit" style="width: 100%;" class="btn btn-info">Remove</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


