@model Butchers.Data.BEANS.CartItemBEAN

@{
    ViewBag.Title = "DeleteCartItem";
}

<h2>Delete Cart Item</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CartItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemCostSubtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCostSubtotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "CartItems", "Order")
        </div>
    }
</div>
