@model IEnumerable<Butchers.Data.BEANS.OrderBEAN>

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-1">
            <button class="btn btn-info" style="width: 100%;" onclick="javascript:history.back()"><i class="fas fa-chevron-left"></i></button>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p><strong>A Friendly Reminder!</strong></p>
                <p style="padding: 0px;margin:0px;">Our staff work hard to deliver the highest quality products to all our customers.</p>
                <p style="padding: 0px;margin:0px;">Please remember to collect your orders within 7 days of placing your reservation otherwise it will no longer be held for collection.</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderNo)
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Order Status
                    </th>
                    <th>
                        Collection
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Collected == true)
                    {
                        ViewBag.style = "success";
                        ViewBag.message = "Collected";
                    }
                    else
                    {
                        if (DateTime.Now < item.CollectFrom)
                        {
                            ViewBag.style = "warning";
                            ViewBag.message = "Collect From " + @Html.DisplayFor(modelItem => item.CollectFrom);
                        }
                        else if (DateTime.Now > item.OrderDate && DateTime.Now < item.CollectBy)
                        {
                            ViewBag.style = "info";
                            ViewBag.message = "Awaiting Collection";
                        }
                        else if (DateTime.Now > item.CollectBy)
                        {
                            ViewBag.style = "danger";
                            ViewBag.message = "Cancelled";
                        }
                    }

                    <tr class="table-@ViewBag.style">
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNo)
                        </td>
                        <td>
                            £@Html.DisplayFor(modelItem => item.TotalCostAfterDiscount)
                        </td>
                        <td>
                            @ViewBag.message
                        </td>
                        <td>
                            @if (DateTime.Now <= item.CollectBy)
                            {
                                using (Html.BeginForm("ToggleCollected", "OrderAdmin", FormMethod.Get))
                                {
                                    <input type="hidden" name="id" id="id" value="@item.OrderNo" />
                                    if (item.Collected == false)
                                    {
                                        ViewBag.status = "warning";
                                        ViewBag.icon = "times-circle";
                                        ViewBag.label = "Not Collected";
                                    }
                                    else
                                    {
                                        ViewBag.status = "success";
                                        ViewBag.icon = "check-circle";
                                        ViewBag.label = "Collected";
                                    }
                                    <button type="submit" class="btn btn-@ViewBag.status" style="width: 100%;"><i class="fas fa-@ViewBag.icon"></i>&nbsp;&nbsp; @ViewBag.label</button>
                                }
                            } else if (item.Collected == true)
                            {
                                <span>Collected</span>
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                        <td>
                            <button class="btn btn-info" onclick="location.href='@Url.Action("OrderDetails", "Order", new { id = item.OrderNo })'"><i class="fas fa-info-circle Details"></i>&nbsp;&nbsp; Details</button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

