@model IEnumerable<Butchers.Data.BEANS.CartItemBEAN>
@if (Model.Count() > 0)
{

    <div class="row">
        <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-10">
                            <p style="line-height: 0.7;">@Html.DisplayFor(modelItem => item.Quantity) x @Html.DisplayFor(modelItem => item.ProductItem)</p>
                            <p style="line-height: 0.7;">£@Html.DisplayFor(modelItem => item.ItemCostSubtotal) per item</p>
                            <hr />
                        </div>
                        <div class="col-md-2">
                            <a href="@Url.Action("DeleteCartItem", "OrderAdmin", new { id = item.CartItemId })"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                }
            @Html.Raw(TempData["message"])
            @using (Html.BeginForm("SubmitOrder", "OrderAdmin", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-12">
                        <strong>Total:</strong>
                        £@String.Format("{0:N}", Model.Sum(modelItem => (modelItem.ItemCostSubtotal * modelItem.Quantity)))
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("ViewCart", "Order")'"><i class="fas fa-shopping-basket"></i>&nbsp;&nbsp; Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="row">
    <div class="col-md-12">
        <p>There are no items in your cart</p>
    </div>
</div>
}
