@model IEnumerable<Butchers.Data.BEANS.CartItemBEAN>

@{
    ViewBag.Title = "CartItems";
}

<h2>Cart Items</h2>

<p>
    @Html.ActionLink("Create New", "AddCartItem", "OrderAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CartItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCostSubtotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CartItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCostSubtotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCartItem", new { id = item.CartItemId, product = item.ProductItemId, Controller = "OrderAdmin" }) |
            @Html.ActionLink("Delete", "DeleteCartItem", new { id = item.CartItemId, Controller = "OrderAdmin" })
        </td>
    </tr>
}

</table>
