@model IEnumerable<Butchers.Data.BEANS.OrderBEAN>

@{
    ViewBag.Title = "Orders";
}

<div class="row">
    <div class="col-md-11">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-1">
        @* Not sure if anything goes here but will keep it for consistency incase it breaks anything. *@
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCostAfterDiscount)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCostAfterDiscount)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "ViewOrderDetails", new { Id = item.OrderNo, Controller = "Order" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
