@model Butchers.Data.BEANS.OrderBEAN
@using Microsoft.AspNet.Identity

@* Checks to see whether the order is from the logged in user. *@
@if ((User.Identity.GetUserName() == Model.CustomerNo) || User.IsInRole("Staff") || User.IsInRole("Manager") || User.IsInRole("Admin"))
{

    ViewBag.Title = "Reservation #" + Model.OrderNo;

    <div class="row">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-3">
            @if (User.IsInRole("Staff") || User.IsInRole("Manager"))
            {
                if (DateTime.Now <= Model.CollectBy)
                {
                    using (Html.BeginForm("ToggleCollected", "OrderAdmin", FormMethod.Get))
                    {
                        <input type="hidden" name="id" id="id" value="@Model.OrderNo" />
                        if (Model.Collected == false)
                        {
                            ViewBag.status = "warning";
                            ViewBag.icon = "times-circle";
                            ViewBag.label = "Not Collected";
                        }
                        else
                        {
                            ViewBag.status = "success";
                            ViewBag.icon = "check-circle";
                            ViewBag.label = "Collected";
                        }
                        <button type="submit" class="btn btn-@ViewBag.status" style="width: 100%;"><i class="fas fa-@ViewBag.icon"></i>&nbsp;&nbsp; @ViewBag.label</button>
                    }
                }
            }
        </div>
        <div class="col-md-1">
            <button class="btn btn-info" style="width: 100%;" onclick="javascript:history.back()"><i class="fas fa-chevron-left"></i></button>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">

            @if (User.IsInRole("Staff") || User.IsInRole("Manager"))
            {
                ViewBag.heading = "Customer Cancellations";
                ViewBag.body = "Customers are currently expected to contact your store if they wish to cancel a reservation. Please let us know if you'd like the option for them to do it online!";
            }
            else if (User.IsInRole("Customer"))
            {
                ViewBag.heading = "Looking to Cancel?";
                ViewBag.body = "If you need to cancel your reservation, please contact the store directly.";
            }
            <div class="alert alert-info">
                <p><strong>@ViewBag.heading</strong></p>
                <p>@ViewBag.body</p>
            </div>
        </div>
    </div>


    <div class="card border-secondary mb-3" style="width: 100%;">
        <div class="card-header bg-info" style="color: white; font-weight: bold;">Order Information</div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.OrderNo)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.OrderNo)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.OrderDate)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.OrderDate)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.CustomerNo)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.CustomerNo)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.TotalCost)</strong>
                </div>
                <div class="col-md-9">
                    £@Html.DisplayFor(model => model.TotalCost)
                </div>
            </div>

            @if (Model.TotalCost > Model.TotalCostAfterDiscount)
            { 
            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.TotalCostAfterDiscount)</strong>
                </div>
                <div class="col-md-9">
                    £@Html.DisplayFor(model => model.TotalCostAfterDiscount)
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.AmountSaved)</strong>
                </div>
                <div class="col-md-9">
                    £@Html.DisplayFor(model => model.AmountSaved) using Promo Code '@Html.DisplayFor(model => model.PromoCode)'
                </div>
            </div>
            }

        </div>
    </div>



    <div class="card border-secondary mb-3" style="width: 100%;">
        @if (Model.Collected == false)
        {
            if (DateTime.Now > Model.CollectBy)
            {
                <div class="card-header bg-danger" style="color: white; font-weight: bold;">
                    <div class="row">
                        <div class="col-md-8">Collection Details</div>
                        <div class="col-md-4" style="text-align: right;">Order Cancelled on @Html.DisplayFor(model => model.CollectBy) &nbsp;&nbsp; <i class="fas fa-times-circle"></i></div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-header bg-warning" style="color: white; font-weight: bold;">
                    <div class="row">
                        <div class="col-md-8">Collection Details</div>
                        @if (DateTime.Now < Model.CollectFrom)
                        {
                            <div class="col-md-4" style="text-align: right;">
                                Collect From @Html.DisplayFor(model => model.CollectFrom) &nbsp;&nbsp;  
                                <i class="fas fa-clock"></i>
                            </div>
                        }
                        else if (DateTime.Now > Model.OrderDate && DateTime.Now < Model.CollectBy)
                        {
                            <div class="col-md-4" style="text-align: right;">
                                Awaiting Collection &nbsp;&nbsp;  
                                <i class="fas fa-clock"></i>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>@Html.DisplayNameFor(model => model.CollectFrom)</strong>
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.CollectFrom)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <strong>@Html.DisplayNameFor(model => model.CollectBy)</strong>
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.CollectBy)
                        </div>
                    </div>

                    @if (User.IsInRole("Manager") || User.IsInRole("Staff"))
                    {
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                               
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
        <div class="card-header bg-success" style="color: white; font-weight: bold;">
            <div class="row">
                <div class="col-md-8">Collection Details</div>
                <div class="col-md-4" style="text-align: right;">
                    Collected &nbsp;&nbsp; 
                    <i class="fas fa-check-circle"></i>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("OrderItems", new { cartId = Model.CartId, Controller = "Order" })'">View Reserved Items</button>
        </div>
    </div>
}
else
{
<div class="alert alert-dismissible alert-danger">
    <strong>Oh snap!</strong> <a href="#" class="alert-link"></a>You are not authorised to view this page.
</div>
}@* End Auth Check *@
