@model IEnumerable<Butchers.Data.BEANS.OrderDetailsBEAN>

@{
    ViewBag.Title = "OrderDetails";
}

<h2>Order Details</h2>

<p>
    @Html.ActionLink("Create New", "AddOrderDetails", "OrderAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetailsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collected)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDetailsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collected)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrderDetails", new { id = item.OrderDetailsId, @*order=item.OrderNo,*@ Controller = "OrderAdmin" }) |
            @Html.ActionLink("Delete", "DeleteOrderDetails", new { id = item.OrderDetailsId, Controller = "OrderAdmin" })
        </td>
    </tr>
}

</table>
