@model IEnumerable<Butchers.Data.BEANS.PromoCodeBEAN>

@{
    ViewBag.Title = "PromoCode";
}

<h2>Promo Code</h2>

<p>
    @Html.ActionLink("Create New", "AddPromoCode", "OrderAdmin")
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidUntil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidUntil)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPromoCode", new { Id = item.Code, Controller = "OrderAdmin" }) |
            @Html.ActionLink("Delete", "DeletePromoCode", new { Id = item.Code, Controller = "OrderAdmin" })
            
        </td>
    </tr>
}

</table>



