@model IEnumerable<Butchers.Data.BEANS.PromoCodeBEAN>

@{
    ViewBag.Title = "PromoCode";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Promo Code</h2>
        </div>
        <div class="col-md-2">
            @if (User.IsInRole("Manager"))
            {
                <button class="btn btn-info btn-header" onclick="location.href='@Url.Action("AddPromoCode", "OrderAdmin")'"><i class="fas fa-plus"></i></button>
            }
        </div>
    </div>
    <hr />

    <div class="container">
        <div class="row">
            <div class="alert alert-dismissible alert-info" style="width: 100%;">
                <strong>Remember!</strong> Once a Promo Code has expired, it cannot be redeemed. To use the Code again, set a new expiry date.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisplayValidUntil)
                    </th>
                    @if ((User.IsInRole("Manager") || User.IsInRole("Admin")) && (!User.IsInRole("Staff") || !User.IsInRole("Customer")))
                    {
                    <th></th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    if (item.ValidUntil > DateTime.Now)
                    {
                        ViewBag.status = "success";
                    }
                    else if (item.ValidUntil == DateTime.Now)
                    {
                        ViewBag.status = "warning";
                    }
                    else if (item.ValidUntil < DateTime.Now)
                    {
                        ViewBag.status = "danger";
                    }
                    <tr class="table-@ViewBag.status">
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayValidUntil)
                        </td>
                        @if ((User.IsInRole("Manager") || User.IsInRole("Admin")) && (!User.IsInRole("Staff") || !User.IsInRole("Customer")))
                        {
                            <td>
                                <button class="btn btn-info" style="width: 50%;" onclick="location.href='@Url.Action("EditPromoCode", new { Id = item.Code, Controller = "OrderAdmin" })'"><i class="fas fa-edit"></i>&nbsp; Edit</button>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

