    @model IEnumerable<Butchers.Data.PromoCode>

@{
    ViewBag.Title = "PromoCode";
}

<h2>PromoCode</h2>

<p>
    @Html.ActionLink("Add Promo Code", "AddPromoCode", new {controller = "OrderAdmin" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidUntil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidUntil)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPromoCode", new {id = item.Code, Controller = "OrderAdmin"  }) |

            @Html.ActionLink("Details", "GetPromoDetail", new {id = item.Code })|

            @Html.ActionLink("Delete", "DeletePromoCode", new { id = item.Code, Controller = "OrderAdmin" })
        </td>
    </tr>
}

</table>
